:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --pink:rgb(217, 36, 66);
  --transparent-pink:rgba(233, 27, 61, 0.702);
  --green:rgb(1, 99, 1);
  --purple:rgb(163, 60, 236);
  --orange:rgb(163, 107, 4);
  --tranparent-gray:rgba(215, 203, 203, 0.217);
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

*,
*::before,
*::after
{
  box-sizing: border-box;
}

body,
h1,
h2,
p,
div{
  margin:0;
}

h3{
  font-size: 1.11rem;
}

p{
  font-size: 1rem;
}

h1,
h2,
h3,
p{
  font-weight: normal;
}

body{
  line-height: 1.5;
  min-height: 100vh;
}

/* ----------UTILITY CLASSES------------- */
.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.justify-around{
  justify-content: space-around;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}
.justify-start{
  justify-content: flex-start;
}

.align-start{
  align-items: flex-start;
}

.align-end{
  align-items: flex-end;
}

.align-center{
  align-items: center;
}





.container{
  max-width: 95%;
  padding-inline: 2em;
  margin: 5rem auto;
  /* background-color: lightpink; */
}

/* --------------color presets --------------- */

 
  /* ---BackGround Color--- */
  .bg-pink{
    background-color: var(--pink) ;
  }
  
  .bg-tr-pink{
    background-color: var(--transparent-pink) ;
  }
  
  .bg-green{
    background-color: var(--green) ;
  }

  .bg-purple{
    background-color: var(--purple) ;
  }
  
  .bg-orange{
    background-color: var(--orange) ;
  }

  .bg-tr-gray{
    background-color: var(--tranparent-gray) ;
  }

  /* ----font-stylng------ */
  .text-white{
    color: white;
  }

  .text-black{
    color: black;
  }

  .text-pink{
    color: var(--pink);
  }

  .text-center{
    text-align: center;
  }

  .text-bold{
    font-weight: bold ;
  }

  .text-uppercase{
    text-transform: uppercase;
  }
  .text-xl{
    font-size: 1.5rem;
  }

 

  /* Component Specific Styles */
  .calendar{
    width: 75%;
    box-shadow: 0 3px 5px 2px rgba(0,0,0, 0.3);
  }

  .description{
    width:20%;
  }

  .summary{
    margin-bottom: 1.5em;
  }

  .label{
    display: inline-block;
    width: 20%;
    aspect-ratio: 2/1;
    margin-right: 1em;
  }

  .calendar-nav{
    width:100%;
    margin-top: -.2em;
    margin-bottom: 1em;
  }

  .calendar-table{
    width: 100%;
    /* background-color: lightblue; */
    display: grid;
    /* grid-template-columns: repeat(7 , 1fx); */
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }

  .dayRow{
    color: var( --pink);
    font-weight: bold;
    border: 1px solid rgb(219, 215, 215);
    box-shadow: inset 0px -1px 5px 0px rgba(0,0,0, 0.1);
  }

  .date{
    border: 1px solid rgb(219, 215, 215);
    box-shadow: inset 0px -1px 5px 0px rgba(0,0,0, 0.1);
    height: 4em;
    cursor: pointer;
    padding: 2px 0;
  }

  .inactiveDay{
    color: #9e9e9e;
    background-color: var(--tranparent-gray);
    cursor: p
  }

  .navIcon {
    width: 2.5em;
    height: 2.5em;
    padding: .7em;
    cursor: pointer;
    color: black;
    border: 1px solid var(--pink);
    box-shadow: 0 3px 10px 2px rgba(0,0,0, 0.2);
    transform: translateY(0);
    transition: transform .7s;
  }
  
  .navIcon:hover {
    background: #efefee;
  }
  .navIcon:active{
    transform: translateY(5px);
  }

  .holiday,
  .leave,
  .commented,
  .working{
    width:70%;
    color: white;
    font-size: .8em;
    border-radius: 3px;
  }

  .holiday{
    background-color: var( --green );
  }

  .leave{
    background-color: var( --purple );
  }

  .commented{
    background-color: var( --orange );
  }

  .working{
    background-color: var( --pink );
  }

  

/* --------------------------------------------- */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
